<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
<p>We build a site similar to a private Eventbrite which allows users to create events and then manage user signups.
 Users can create events and send invitations and parties (sound familiar?). 
 Events take place at a specific date and at a location.
A user can create events. A user can attend many events. 
An event can be attended by many users. 
</p>
